<div class="w3-row-padding anim" id="about">
    <div class="w3-col l4 12">
        <h3>About</h3>
        <h6>Back in 1954, a man named Ray Kroc discovered a small burger restaurant in California, and wrote the
            first
            page of our history. From humble beginnings as a small restaurant, we're proud to have become one of
            the
            world's leading food service brands with more than 36,000 restaurants in more than 100 countries.Read
            on to
            find out more about McDonald’s, learn about the McDonald’s story, our values, and our leadership. </h6>
        <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i>
            <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>
    <div class="w3-col l8 12 anim">
        <!-- Image of location/map -->
        <img src="../public/images/ray-kroc.jpg" class="w3-image w3-greyscale anim" style="width:100%;">
    </div>
</div>

<div class="w3-row-padding w3-large w3-center anim" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> Chicago, Illinois, USA</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: (800) 244-6227</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mcdonal.headquater@mail.com</div>
</div>

<div class="w3-panel w3-red w3-leftbar w3-padding-32 anim">
    <h6><i class="fa fa-info w3-dark-orange w3-padding w3-margin-right"></i> On demand, we can offer playstation,
        babycall, children care, dog equipment, etc.</h6>
</div>