<div class="w3-container">
    <h3>Our McDonald’s</h3>
    <h6>You can find our McDonald’s anywhere in the world:</h6>
</div>

<div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
            <img src="../public/images/world/brazil.jpg" alt="Brazil" style="width:75%">
            <span class="w3-display-bottomleft w3-padding">Brazil</span>
        </div>
    </div>
    <div class="w3-half">
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container">
                    <img src="../public/images/world/mexico.jpg" alt="Mexico" style="width:100%">
                    <span class="w3-display-bottomleft w3-padding">Mexico</span>
                </div>
            </div>
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container">
                    <img src="../public/images/world/canada.jpg" alt="Canada" style="width:100%">
                    <span class="w3-display-bottomleft w3-padding">Canada</span>
                </div>
            </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container">
                    <img src="../public/images/world/chicago.jpg" alt="Chicago" style="width:100%">
                    <span class="w3-display-bottomleft w3-padding">Chicago</span>
                </div>
            </div>
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container">
                    <img src="../public/images/world/vietnam.jpg" alt="Vietnam" style="width:100%">
                    <span class="w3-display-bottomleft w3-padding">Vietnam</span>
                </div>
            </div>
        </div>
    </div>
</div>