<div class="w3-content anim" style="max-width:1532px;">

    <%- include('./about') %>

    <%- include('./mcdonald-world') %>

    <%- include('./best-offers') %>

    <%- include('./contact') %>
</div>