<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/booking">Book Now</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <% if( name) { %>
        <a href="">Hello <%= name %></a>
        <a href="/logout">LogOut</a>
        <a href="/bookingcart">Cart</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>   
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
    </a>
    <p hidden id="statusUser"><%= email%></p>
</div>