<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/booking">Book Now</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="/login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
    </a>
</div>