<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../public/stylesheets/admin.css">
    <title>Admin</title>
</head>

<body>
    <header>
        <h1>Admin</h1>
    </header>
    <button class="all-stores">McDonald’s Hồng Bàng</button>
    <div class="flex" id="hongbang" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Âu Cơ</button>
    <div class="flex" id="auco" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Vincom Thủ Đức</button>
    <div class="flex" id="thuduc" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Phạm Hùng</button>
    <div class="flex" id="phamhung" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Hoàng Diệu</button>
    <div class="flex" id="hoangdieu" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Tân Sơn Nhất</button>
    <div class="flex" id="tansonnhat" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Saigon Center</button>
    <div class="flex" id="saigoncenter" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Siêu Thị Sài Gòn</button>
    <div class="flex" id="sieuthisaigon" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>
    <button class="all-stores">McDonald’s Bưu Điện</button>
    <div class="flex" id="buudien" style="display:none;">
        <!-- t1 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 1</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t2 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 2</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t3 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 3</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t4 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 4</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t5 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 5</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t6 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 6</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t7 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 7</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t8 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 8</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t9 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 9</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>

        <!-- t10 -->
        <section>
            <img src="https://images.unsplash.com/photo-1483274816418-3975509c8f78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="McDonald's Table" />
            <h2>Table 10</h2>
            <aside>
                <ul>
                    <li class="status-color">Status</li>
                    <li class="status">Empty</li>
                </ul>
                <button class="btnAdd">Add to Cart</button>
            </aside>
        </section>
    </div>


    <script>
        let status = document.querySelectorAll('.status');
        let statusColor = document.querySelectorAll('.status-color');

        let btnAdd = document.querySelectorAll('.btnAdd');

        for (let i = 0; i < status.length; i++) {
            statusColor[i].style.transition = 'all 0.2s linear';
            if (status[i].innerHTML == 'Empty') {
                statusColor[i].style.color = 'white';
                statusColor[i].style.background = '#4AC948';
            } else if (status[i].innerHTML == 'Full') {
                statusColor[i].style.color = 'white';
                statusColor[i].style.background = '#bd0017';
            }
        }
    </script>

    <script>
        let allStores = document.querySelectorAll('.all-stores');
        let allStoresArr = ["hongbang", "auco", "thuduc", "phamhung", "hoangdieu", "tansonnhat", "saigoncenter",
            "sieuthisaigon", "buudien"
        ];
        for (let i = 0; i < allStores.length; i++) {
            allStores[i].onclick = () => {
                $(`#${allStoresArr[i]}`).slideToggle(500);
            };
        }
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</body>

</html>