<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="../public/stylesheets/admin.css">
  <title>Admin</title>
</head>

<body onload="loadBody();">
  <p style="text-align:center;margin-top:1%;font-size:35px;">Admin</p>

  <button class="all-stores anim">McDonald’s Hồng Bàng</button>
  <div class="scrollmenu">
    <table class="customers" id="store00" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class='store00-tb'>
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class='store00-tb'>
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class='store00-tb'>
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class='store00-tb'>
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class='store00-tb'>
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class='store00-tb'>
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class='store00-tb'>
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class='store00-tb'>
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class='store00-tb'>
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Âu Cơ</button>
  <div class="scrollmenu">
    <table class="customers" id="store01" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store01-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store01-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store01-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store01-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store01-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store01-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store01-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store01-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store01-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Vincom Thủ Đức</button>
  <div class="scrollmenu">
    <table class="customers" id="store02" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store02-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store02-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store02-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store02-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store02-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store02-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store02-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store02-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store02-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Phạm Hùng</button>
  <div class="scrollmenu">
    <table class="customers" id="store03" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store03-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store03-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store03-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store03-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store03-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store03-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store03-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store03-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store03-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Hoàng Diệu</button>
  <div class="scrollmenu">
    <table class="customers" id="store04" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store04-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store04-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store04-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store04-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store04-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store04-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store04-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store04-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store04-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Tân Sơn Nhất</button>
  <div class="scrollmenu">
    <table class="customers" id="store05" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store05-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store05-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store05-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store05-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store05-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store05-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store05-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store05-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store05-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Saigon Center</button>
  <div class="scrollmenu">
    <table class="customers" id="store06" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store06-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store06-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store06-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store06-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store06-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store06-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store06-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store06-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store06-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Siêu Thị Sài Gòn</button>

  <div class="scrollmenu">
    <table class="customers" id="store07" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class="store07-tb">
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class="store07-tb">
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class="store07-tb">
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class="store07-tb">
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class="store07-tb">
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class="store07-tb">
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class="store07-tb">
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class="store07-tb">
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class="store07-tb">
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <button class="all-stores anim">McDonald’s Bưu Điện</button>

  <div class="scrollmenu">
    <table class="customers" id="store08" style="display:none;">
      <tr style="margin-bottom: 5px;">
        <th>Table</th>
        <th colspan="46" style="text-align:center;">Time</th>
      </tr>
      <!-- tb1 -->
      <tr class='store08-tb'>
        <td>tb1</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb2 -->
      <tr class='store08-tb'>
        <td>tb2</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb3 -->
      <tr class='store08-tb'>
        <td>tb3</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb4 -->
      <tr class='store08-tb'>
        <td>tb4</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb5 -->
      <tr class='store08-tb'>
        <td>tb5</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb6 -->
      <tr class='store08-tb'>
        <td>tb6</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb7 -->
      <tr class='store08-tb'>
        <td>tb7</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb8 -->
      <tr class='store08-tb'>
        <td>tb8</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

      <!-- tb9 -->
      <tr class='store08-tb'>
        <td>tb9</td>
        <td>0:00</td>
        <td>0:30</td>
        <td>1:00</td>
        <td>1:30</td>
        <td>2:00</td>
        <td>2:30</td>
        <td>3:00</td>
        <td>3:30</td>
        <td>4:00</td>
        <td>4:30</td>
        <td>5:00</td>
        <td>5:30</td>
        <td>6:00</td>
        <td>6:30</td>
        <td>7:00</td>
        <td>7:30</td>
        <td>8:00</td>
        <td>8:30</td>
        <td>9:00</td>
        <td>9:30</td>
        <td>10:00</td>
        <td>10:30</td>
        <td>11:00</td>
        <td>11:30</td>
        <td>12:00</td>
        <td>12:30</td>
        <td>13:00</td>
        <td>13:30</td>
        <td>14:00</td>
        <td>14:30</td>
        <td>15:00</td>
        <td>15:30</td>
        <td>16:00</td>
        <td>16:30</td>
        <td>17:00</td>
        <td>17:30</td>
        <td>18:00</td>
        <td>18:30</td>
        <td>19:00</td>
        <td>19:30</td>
        <td>20:00</td>
        <td>20:30</td>
        <td>21:00</td>
        <td>21:30</td>
        <td>22:00</td>
        <td>22:30</td>
      </tr>

    </table>
  </div>

  <!-- export data for admin -->
  <a href="/admin/export-excel" class="anim" id="btnExcel" style="text-align:center;">Export Excel</button>

    <script>
      let allStores = document.querySelectorAll('.all-stores');
      let allStoresArr = ["store00", "store01", "store02",
        "store03", "store04", "store05",
        "store06", "store07", "store08"
      ];
      for (let i = 0; i < allStores.length; i++) {
        allStores[i].onclick = () => {
          $(`#${allStoresArr[i]}`).fadeToggle(500);
        };
      }

      window.sr = ScrollReveal();
      sr.reveal('.anim');
    </script>

    <script src="/socket.io/socket.io.js"></script>

    <!-- query all booked from user  -->
    <script>
      let timeArray = ['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30',
        '05:00',
        '05:30', '06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00',
        '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00',
        '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00',
        '23:30', '24:00'
      ];
      let tableArray = ['tb1', 'tb2', 'tb3', 'tb4', 'tb5', 'tb6', 'tb7', 'tb8', 'tb9'];

      let loadBody = () => {
        console.log('loaded');
        $.ajax({
          type: "POST",
          url: '/admin/load',
          data: JSON.stringify({
            message: 'loaded from client'
          }),
          contentType: 'application/json',
          dataType: "json",
          success: function (res) {
            let len = res.length;
            for (let k = 0; k < len; k++) {
              if (res[k].table.length == 1) {

                let indexTime = timeArray.indexOf(res[k].time);
                let indexTable = tableArray.indexOf(res[k].table[0]);

                // dựa theo user booking tô đen 3 thời gian gần nhất.
                for (let j = 1; j < 5; j++) {
                  let alreadyBooked_single = $(`#${res[k].store_id} tr`).closest(`.${res[k].store_id}-td`).prevObject[
                    indexTable + 1].children[indexTime + j];
                  alreadyBooked_single.style.backgroundColor = 'green';
                  alreadyBooked_single.classList.add('active-time');
                }
              } else {
                let indexTime = timeArray.indexOf(res[k].time);
                let tableLen = res[k].table.length;
                for (let i = 0; i < tableLen; i++) {
                  let indexTable = tableArray.indexOf(res[k].table[i]);
                  for (let j = 1; j < 5; j++) {
                    let alreadyBooked_many = $(`#${res[k].store_id} tr`).closest(`.${res[k].store_id}-td`).prevObject[
                      indexTable + 1].children[indexTime + j];
                    alreadyBooked_many.style.backgroundColor = 'green';
                    alreadyBooked_many.classList.add('active-time');
                  }
                }
              }
            }
          },
          error: function (error) {
            alert(error);
          }
        });
      }
    </script>

    <!-- incoming booking from user -->
    <script>
      let timeArrayIncoming = ['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30',
        '05:00',
        '05:30', '06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00',
        '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00',
        '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00',
        '23:30', '24:00'
      ];
      let tableArrayIncoming = ['tb1', 'tb2', 'tb3', 'tb4', 'tb5', 'tb6', 'tb7', 'tb8', 'tb9'];
      let socket = io();

      let allStoresIncoming = document.querySelectorAll('.all-stores');
      let allStoresArrIncoming = ["store00", "store01", "store02",
        "store03", "store04", "store05",
        "store06", "store07", "store08"
      ];
      for (let i = 0; i < allStoresIncoming.length; i++) {
        allStoresIncoming[i].onclick = () => {
          $(`#${allStoresArrIncoming[i]}`).fadeToggle(500);
          // displayTime(store[i]);
        };
      }

      // listening for new incoming booking
      socket.on('incoming-booking', (res) => {
        // var audio = new Audio('/public/sounds/filling-your-inbox.mp3');
        // audio.play();
        alert('new incoming booking');
        let info = JSON.parse(res);

        let day = new Date();
        let clientDay = day.toLocaleDateString('en-US');
        if (clientDay === info.day) {
          if (info.message.length == 1) {

            let indexTime = timeArrayIncoming.indexOf(info.time);
            let indexTable = tableArrayIncoming.indexOf(info.message[0]);

            // dựa theo user booking tô đen 3 thời gian gần nhất.
            for (let j = 1; j < 5; j++) {
              let incoming_single = $(`#${info.store_id} tr`).closest(`.${info.store_id}-td`).prevObject[indexTable +
                1].children[
                indexTime + j];
              incoming_single.style.backgroundColor = 'green';
              incoming_single.classList.add('active-time');
            }
          } else {
            let indexTime = timeArrayIncoming.indexOf(info.time);
            let tableLen = info.message.length;
            for (let i = 0; i < tableLen; i++) {
              let indexTable = tableArrayIncoming.indexOf(info.message[i]);
              for (let j = 1; j < 5; j++) {
                let incoming_many = $(`#${info.store_id} tr`).closest(`.${info.store_id}-td`).prevObject[indexTable +
                  1].children[
                  indexTime + j];
                incoming_many.style.backgroundColor = 'green';
                incoming_many.classList.add('active-time');
              }
            }
          }
        }
      });
    </script>


</body>

</html>