<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../public/stylesheets/booking.css">
    <title>Booking</title>
</head>

<body>
    <%- include('./partials/navbar'); -%>
    <%- include('./partials/booking/form'); -%>
    <%- include('./partials/booking/store'); -%>
    <script src="../public/javascripts/event.js"></script>
    <!-- popup form jQuery -->
    <script>
        // jQuery extend functions for popup
        (function ($) {
            $.fn.openPopup = function (settings) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.show();
                elem.find('.popup-content').addClass(settings.anim + 'In');
            }

            $.fn.closePopup = function (settings) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.find('.popup-content').removeClass(settings.anim + 'In').addClass(settings.anim + 'Out');

                setTimeout(function () {
                    elem.hide();
                    elem.find('.popup-content').removeClass(settings.anim + 'Out')
                }, 500);
            }

        }(jQuery));

        // Click functions for popup
        $('.open-popup').click(function () {
            $('#' + $(this).data('id')).openPopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' :
                    $(this).data('animation')
            });
        });
        $('.close-popup').click(function () {
            $('#' + $(this).data('id')).closePopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' :
                    $(this).data('animation')
            });
        });
    </script>

    <script>
        let toggleMenu = () => {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        };
    </script>

    <script type="module">
        //list information of store
        import {store} from '../public/javascripts/store.js';

        let mcdonald_name = document.querySelectorAll('.mcdonald-name');
        let mcdonald_address = document.querySelectorAll('.mcdonald-address');
        let mcdonald_time = document.querySelectorAll('.mcdonald-time');

        //form information
        let mcdonald_date_form = document.querySelector('#mcdonald-date-form');
        let mcdonald_time_form = document.querySelector('#mcdonald-time-form');
        let mcdonald_capacity_form = document.querySelector('#mcdonald-capacity-form');
        let mcdonald_fullname_form = document.querySelector('#fullname-form');
        let mcdonald_email_form = document.querySelector('#email-form');
        let mcdonald_phone_form = document.querySelector('#phone-form');

        let btnBooking = document.querySelector('#booking-form');
        btnBooking.onclick = (()=>{
            //console.log(getFormBooking(store_id, mcdonald_date_form.value, mcdonald_time_form.value, mcdonald_capacity_form.value, mcdonald_fullname_form.value, mcdonald_email_form.value, mcdonald_phone_form.value));
            if(checkDateTime()){
                if(!checkValidForm()){
                    postFormBooking(getFormBooking(store_id, mcdonald_date_form.value, mcdonald_time_form.value, mcdonald_capacity_form.value, mcdonald_fullname_form.value, mcdonald_email_form.value, mcdonald_phone_form.value));
                    console.log('da book');
                }
                else{
                    alert('Please fill in the form');
                }
            }else{
                alert('Please check your date and time again !')
            }
        });    
        let selecttime = document.querySelector('#mcdonald-time-form');
        let selectdate = document.querySelector('#mcdonald-date-form');
        let popup = document.querySelectorAll('.open-popup');
        for (let i = 0; i < popup.length; i++) {
            if(i<10){
                popup[i].value = `store0${i}`;
            }else{
                popup[i].value = `store${i}`;
            }
            popup[i].onclick = () => {
                store_id = popup[i].value;
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow');
                //console.log(store[i]);
                timeBooking(i, store[i].time_open, store[i].time_close);
                return false;
            };
        }

        //xử lý giờ trong khoảng từ lúc mở tới trước khi đóng cửa 1 tiếng
        //(c-o)*2-1                   
        let timeBooking = ((index, open, close)=>{
            $('#mcdonald-time-form option').remove();
            //console.log(index);
            let timerun = open;
            let value = 0;
            let content;
            while(timerun < close - 1){
                let option = document.createElement('OPTION');               
                if(Math.floor(value % 2)==0){
                    content = document.createTextNode(`${timerun}:00`);
                    if(timerun < 10){
                        option.setAttribute('value', `0${timerun}:00`);
                    }
                    else{
                        option.setAttribute('value', `${timerun}:00`);
                    }
                }else{
                    content = document.createTextNode(`${timerun}:30`);
                    option.setAttribute('value', `${timerun}:30`);
                    timerun++;
                }
                option.appendChild(content);
                selecttime.appendChild(option);
                value++;
            }            
        });

        
        
        // xử lý ngày của booking form... chỉ được đặt 3 ngày kế
        let setDate = () => {
            let day = new Date();
            for(let i = 0; i < 3; i++){
                let option = document.createElement('OPTION');
                let nextday = new Date(day);
                nextday.setDate(nextday.getDate()+i);
                let content = document.createTextNode(nextday.toLocaleDateString('en-US'));
                option.appendChild(content);
                selectdate.appendChild(option);
            }
        };
        setDate();

        //lây thông tin trong booking-form và thông tin cửa hàng cbi chuyển về server
        let store_id = '';
        let getFormBooking = (store_id, date, time, capacity, fullname, email, phone)=>{
            return {
                id : store_id,
                date: date,
                time : time,
                capacity : capacity,
                fullname : fullname,
                email : email,
                phone : phone
            }
        };
        //kiểm tra form có điền đủ thông tin không
        let checkValidForm = () => {
            return store_id == '' || mcdonald_date_form.value == '' || mcdonald_time_form.value == '' || mcdonald_capacity_form.value == '' || mcdonald_fullname_form.value == '' || mcdonald_email_form.value == '' || mcdonald_phone_form.value == '';
        };

        let postFormBooking = (getFormBooking) => {
            $.ajax({
            type: "POST",
            url: '/booking',
            data: JSON.stringify(getFormBooking),
            contentType: 'application/json',
            dataType: "json",
            success: function (mess) {
                let res = JSON.stringify(mess);
                let info = JSON.parse(res);
                console.log(info);
            },
            error: function (error) {
                alert(error);
            }
        });
        };
        //check ngày giờ có hợp lý khi đặt không
        let checkDateTime = () => {
            let datetime = new Date();
            let currentTime = '';
            let currentHour = '';
            let currentMinute = '';
            if(datetime.getHours() < 10){
                currentHour = `0${datetime.getHours()}`;
            }else currentHour = `${datetime.getHours()}`;

            if(datetime.getMinutes() < 10){
                currentMinute = `0${datetime.getMinutes()}`;
            }else currentMinute = `${datetime.getMinutes()}`;
            console.log(currentHour + currentMinute);
            currentTime = `${currentHour}:${currentMinute}`;
            
            let currentDate = datetime.toLocaleDateString('en-US');
            //console.log(currentTime, currentDate);
            if(mcdonald_date_form.value > currentDate){
                //cho book
                return true;                
            }
            else{
                if(mcdonald_time_form.value > currentTime){
                    return true;                   
                }
                else {
                    // khong cho book
                    return false;
                }
            }
        };

    </script>
</body>

</html>