button {
    background: #bd0017 url(http://i.imgur.com/RWKrr8S.png);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 2em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 1.5em 3em;
    padding-left: 6em;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #e61f36;
    background-size: 3em;
    background-position: 1.5em 50%;
}

#btnExcel {
    background: #228B22 url(http://i.imgur.com/RWKrr8S.png);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 2em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 1.5em 3em;
    padding-left: 6em;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

#btnExcel:hover {
    background-color:#3CB371;
    background-size: 3em;
    background-position: 1.5em 50%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    padding: 8px;
    border: 1px solid #ddd;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F97E76;
    color: white;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.active-time {
    transition: all 0.2s linear;
}

.active-time:hover {
    transform: scale(1.5);
    color: white;
    border-radius: 5px;
}