<select class="form-control" id="mcdonald-capacity-form" name="mcdonald-capacity">
    <option value="2">2 nguời</option>
    <option value="4">4 người</option>
    <option value="6">6 người</option>
    <option value="8">8 người</option>
</select>