<select class="form-control" id="mcdonald-time-form" name="mcdonald-time">
    <!-- <option value="0">00:00</option>
    <option value="1">00:30</option>
    <option value="2">01:00</option>
    <option value="3">01:30</option> -->
    <!-- <option value="0">02:00</option>
    <option value="0">02:30</option>
    <option value="0">03:00</option>
    <option value="0">03:30</option>
    <option value="0">04:00</option>
    <option value="0">04:30</option>
    <option value="0">05:00</option>
    <option value="0">05:30</option>
    <option value="0">06:00</option>
    <option value="0">06:30</option>
    <option value="0">07:00</option>
    <option value="0">07:30</option>
    <option value="0">08:00</option>
    <option value="0">08:30</option>
    <option value="0">09:00</option>
    <option value="0">09:30</option>
    <option value="0">10:00</option>
    <option value="0">10:30</option>
    <option value="0">11:00</option>
    <option value="0">11:30</option> -->
</select>

<!-- <script type="module">
    import {store} from '../../../public/javascripts/store.js';
    let timeBooking = (()=>{});
    let select = document.querySelector('#mcdonald-time-form');
    let option = document.createElement('OPTION');
    option.setAttribute('value', '..');
    let content = document.createTextNode('..');
    option.appendChild(content);
    select.appendChild(option);
</script> -->