<select class="form-control" id="mcdonald-time-form" name="mcdonald-time">
    <!-- <option value="0">00:00</option>
    <option value="1">00:30</option>
    <option value="2">01:00</option>
    <option value="3">01:30</option> -->
    <!-- <option value="0">02:00</option>
    <option value="0">02:30</option>
    <option value="0">03:00</option>
    <option value="0">03:30</option>  -->
</select>

<script>
    let selecttime = document.querySelector('#mcdonald-time-form');
    //xử lý giờ trong khoảng từ lúc mở tới trước khi đóng cửa 1 tiếng 30 phút           
    let timeBooking = ((index, open, close) => {
        $('#mcdonald-time-form option').remove();
        //console.log(index);
        let timerun = open;
        let value = 0;
        let content;
        while (timerun < close - 1) {
            let option = document.createElement('OPTION');
            if (Math.floor(value % 2) == 0) {
                content = document.createTextNode(`${timerun}:00`);
                if (timerun < 10) {
                    option.setAttribute('value', `0${timerun}:00`);
                } else {
                    option.setAttribute('value', `${timerun}:00`);
                }
            } else {
                content = document.createTextNode(`${timerun}:30`);
                option.setAttribute('value', `${timerun}:30`);
                timerun++;
            }
            option.appendChild(content);
            selecttime.appendChild(option);
            value++;
        }
    });
</script>